{% extends 'index/index.html' %}

{% block 'header_text_block' %}
      <h1 class="masthead-heading mb-0">Tienda</h1>
      <h2 class="masthead-subheading mb-0">Lista de productos.</h2>  
{% endblock 'header_text_block' %}




{% block 'body_block' %}

    <form action = "" method = 'get'>
    
    {% csrf_token %}
    
    <table>
      {{form.as_table}}    
     </table> 
     <button>Buscar</button> 
    
    </form>

    {% for producto in productos  %}
    
    <li>
    
      {{producto}}
    
    </li>

    {% endfor %}

{% endblock 'body_block' %}