{% extends 'index/index.html' %}

{% block 'header_text_block' %}
    <h1 class="mx-auto my-0 text-uppercase">Estudiantes asociados</h1>
    <h2 class="text-white-50 mx-auto mt-2 mb-5">Aventureros en camino al mundo profesional.</h2>

{% endblock 'header_text_block' %}




{% block 'body_block' %}

  <p>
     <a href={% url 'crear_estudiante' %}>Crear estudiante</a>

  </p>

<form action=''method='get'>
  
  {% csrf_token %}
  
  <table>
    
    {{form.as_table}}
  
  </table>

  <button>Buscar</button>

</form>

   
  {% for estudiantes in estudiantes %}

   <li> {{estudiantes}} </li>

  {% endfor %}
  
{% endblock 'body_block' %}