{% extends 'index/index.html' %}

{% block 'header_text_block' %}
  <h1 class="mx-auto my-0 text-uppercase">Acerca de mi</h1>

  <h2 class="text-white-50 mx-auto mt-2 mb-5">Mi nombre es Eugenia Brizuela y tengo 28 años. Soy geóloga y una profesional amante de la naturaleza, que comprende sobre las experiencias que se viven en los viajes o salidas de campo. Este blog tiene el propósito de compratir no solo aventuras vividas en las campañas, sino que también generar el vínculo entre profesionales y estudiantes de distintas áreas de ciencias naturales que se relacionan entre sí.</h2>
{% endblock 'header_text_block' %}

{% block 'body_block' %}

    
    

{% endblock 'body_block' %}

