{% extends 'index/index.html' %}

{% block 'header_text_block' %}
  <h1 class="mx-auto my-0 text-uppercase">Sobre mi</h1>

  <h2 class="text-white-50 mx-auto mt-2 mb-5">Sobre mi.</h2>
{% endblock 'header_text_block' %}

{% block 'body_block' %}
    <h5>
    Somos una familia que quiso emprender a partir de la creación de cositas lindas para los bebes y niños/as.
    Este emprendimiento está constituído por una mamá, Lili, y sus dos hijas, Eugenia y Paula.
    </h5>
    
    

{% endblock 'body_block' %}

