{% extends 'index/index.html' %}

{% block 'header_text_block' %}
  <h1 class="masthead-heading mb-0">Nosotras</h1>
  <h2 class="masthead-subheading mb-0">Sobre nosotras y nuestro emprendimiento.</h2>
   
{% endblock 'header_text_block' %}

{% block 'body_block' %}
    <h5>
    Somos una familia que quiso emprender a partir de la creación de cositas lindas para los bebes y niños/as.
    Este emprendimiento está constituído por una mamá, Lili, y sus dos hijas, Eugenia y Paula.
    </h5>
    
    

{% endblock 'body_block' %}

