{% extends 'index/index.html' %}

{% block 'header_text_block' %}
   <h1 class="mx-auto my-0 text-uppercase">Datos usuario</h1>
   
{% endblock 'header_text_block' %}

{% block 'body_block' %}

<p>

    {% if msj %}

       {{msj}}

    {% endif %}


<p>

    <li>{{request.user.first_name}}</li>
    <li>{{request.user.last_name}}</li>
    <li>{{request.user.email}}</li>
    {% if request.user.userextension.avatar %}
    <li><img src="{{request.user.userextension.avatar.url}}" alt='imagen de perfil'></li>
    {% endif %}
    <li>{{request.user.userextension.link}}</li>

</p>

<p> 
    <a href={% url 'editar_usuario' %}>Editar datos de usuario</a>

</p>        


{% endblock 'body_block' %}