{% extends 'index/index.html' %}

{% block 'header_text_block' %}
   <h1 class="mx-auto my-0 text-uppercase">Editar usuario</h1>
   
{% endblock 'header_text_block' %}

{% block 'body_block' %}

<p>

    {% if msj %}

       {{msj}}

    {% endif %}

</p>

 
    <form action={% url 'editar_usuario' %} method ='post' enctype='multipar/form-data'>
        
        {% csrf_token %}
        
        <table>

            {{form.as_table}}  

        </table> 

        <button>Guardar cambios</button> 
        
    </form>


{% endblock 'body_block' %}